.idea/
a1/datasets/
a2/.idea/
a2/dataset/
a2/output/
a2/wikipedia_output/
a3/.idea/
a3/datasets/
a3/output-1/
a3/output-3/
a4/.idea/
a4/datasets/
a4/output-relative-score/
a4/output-relative-score-bcast/
a4/output-weather/
a5/datasets/
a5/output-pagecount/
a5/output-reddit/
a5/output-temp_range-2-sql/
a5/spark-warehouse/
project/


pypy_env/
venv/