.idea/
a1/datasets/
a2/.idea/
a2/dataset/
a2/output/
a2/wikipedia_output/
a3/.idea/
a3/datasets/
a3/output-1/
a3/output-3/
a4/.idea/
a4/datasets/
a4/output-relative-score/
a4/output-relative-score-bcast/
a4/output-weather/
a5/datasets/
a5/output-pagecount/
a5/output-reddit/
a5/output-temp_range-2-sql/
a5/spark-warehouse/
a6/datasets/*
a6/output/*
a6/notes.txt/
a7/test.py/
a8/test.py/
a9/_pycache_/*
a9/test.py/
a10/732-docker-cluster/*
a10/docker_tutorial/
project/
pypy_env/
venv/